name: Build PHH Android 15 GSI

on:
  workflow_dispatch:
  runs-on: self-hosted
  
jobs:
  build:
    runs-on: self-hosted 

    steps:
    - name: Clean workspace completely
      run: |
        sudo rm -rf $GITHUB_WORKSPACE/*

    - name: Install dependencies
      run: |
        sudo apt-get update
        sudo apt-get install -y git-core gnupg flex bison build-essential zip curl \
        zlib1g-dev gcc-multilib g++-multilib libc6-dev-i386 \
        lib32ncurses-dev x11proto-core-dev libx11-dev lib32z1-dev \
        libgl1-mesa-dev libxml2-utils xsltproc unzip fontconfig \
        openjdk-17-jdk python3 rsync bc ccache libncurses6

    - name: Setup repo tool
      run: |
        mkdir -p ~/bin
        curl -L https://storage.googleapis.com/git-repo-downloads/repo -o ~/bin/repo
        chmod a+x ~/bin/repo
        echo "$HOME/bin" >> $GITHUB_PATH
        repo --version
    
    - name: Initialize source
      run: |
        git config --global user.email "bot@example.com"
        git config --global user.name "Builder"
        git config --global --add safe.directory '*'

        rm -rf android
        mkdir android
        cd android

        repo init \
        -u https://android.googlesource.com/platform/manifest \
        -b android-15.0.0_r1 \
        --groups=default,-cts,-test
        
#        GIT_TRACE=1 repo sync -c -j1 --no-tags --no-clone-bundle --fail-fast
        repo sync -c -j1 --no-tags --no-clone-bundle --fail-fast

    - name: Apply PHH patches
      run: |
         cd android
         rm -rf treble
         git clone https://github.com/phhusson/treble_experimentations treble
         bash treble/apply-patches.sh . || echo "Some patches failed, continuing..."
         echo "persist.sys.phh.ims.force_enable=1" >> device/phh/treble/system.prop
#         echo "persist.sys.phh.ims.force_enable=1" >> android/device/phh/treble/system.prop

    - name: Enable ccache
      run: |
        echo "export USE_CCACHE=1" >> $GITHUB_ENV
        echo "export CCACHE_EXEC=$(which ccache)" >> $GITHUB_ENV
        ccache -M 50G

    - name: Build GSI
      run: |
        cd android
        source build/envsetup.sh
        export BUILD_BROKEN_USES_NETWORK=true
        export BUILD_BROKEN_ELF_PREBUILT_PRODUCT_COPY_FILES=true
        lunch treble_arm64_bN-userdebug
        m systemimage -j2

    - name: Upload system image
      uses: actions/upload-artifact@v4
      with:
        name: PHH-Android15-arm64-ab
        path: android/out/target/product/treble_arm64_bN/system.img

    - name: Post-build Cleanup
      if: always()
      run: |
        cd android
        rm -rf out/

