name: Build PHH Android 15 GSI

on:
  workflow_dispatch:

jobs:
  build:
    # Change 'ubuntu-latest' to 'self-hosted'
    runs-on: self-hosted 

    steps:
    - name: Install dependencies
      run: |
        sudo apt update
        sudo apt install -y git-core gnupg flex bison build-essential zip curl \
        zlib1g-dev gcc-multilib g++-multilib libc6-dev-i386 \
        lib32ncurses5-dev x11proto-core-dev libx11-dev lib32z1-dev \
        libgl1-mesa-dev libxml2-utils xsltproc unzip fontconfig \
        openjdk-17-jdk python3 rsync bc ccache

    - name: Setup repo tool
      run: |
        mkdir -p ~/bin
        curl https://storage.googleapis.com/git-repo-downloads/repo > ~/bin/repo
        chmod a+x ~/bin/repo
        echo "$HOME/bin" >> $GITHUB_PATH


    - name: Initialize source
      run: |
        git config --global user.email "github-actions[bot]@users.noreply.github.com"
        git config --global user.name "github-actions[bot]"
        mkdir android
        cd android
        repo init -u https://android.googlesource.com -b android-15.0.0_r1 --depth=1
        repo sync -c -j$(nproc --all) --no-clone-bundle --no-tags

    - name: Apply PHH patches
      run: |
        cd android
        git clone https://github.com/phhusson/treble_experimentations treble
        bash treble/apply-patches.sh .

    - name: Build GSI
      run: |
        cd android
        source build/envsetup.sh
        lunch treble_arm64_bgN-userdebug
        make -j2

    - name: Upload system image
      uses: actions/upload-artifact@v4
      with:
        name: PHH-Android15-arm64-ab
        path: android/out/target/product/treble_arm64_bgN/system.img
